html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
}
h1 {
  font-size: 2.4rem;
  font-family: 'lato-bold', sans-serif;
}
h2 {
  font-size: 2rem;
  font-family: 'lato-light', sans-serif;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.15rem;
}
hr {
  width: 5rem;
  border: purple 2px solid;
  text-align: left;
  margin-left: 20px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
a.menu-item:hover {
  transform: scale(1.2);
  color: #75c6ec;
  transition: 300ms ease;
}
p {
  font-size: 1rem;
  line-height: 1.25rem;
}
button {
  cursor: pointer;
}
button:focus {
  outline: none;
}
small {
  font-size: 0.8rem;
  line-height: 1.5rem;
}
.logo {
  font-family: 'Share Tech Mono', monospace;
  font-size: 2.25rem;
  font-style: italic;
  font-weight: bold;
}
header {
  background: url("../img/woman-weightlifting-min.jpg");
  z-index: 1;
  color: white;
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 15vh;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
header .topnav {
  display: flex;
  justify-content: space-between;
  border: none;
  box-shadow: none;
  background: rgba(40, 40, 40, 0.7);
  position: fixed;
  z-index: 1030;
  top: 0;
  left: 0;
  right: 0;
}
header .logo {
  padding: 1rem;
}
header .menu {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
}
header .menu a {
  color: white;
  margin: auto 1rem;
}
header .menu .menu_cta {
  padding: 10px 20px;
  background: linear-gradient(to right, #5a3bdb, #75c6ec);
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  line-height: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
header .head_pitch {
  padding: 1rem;
  border-radius: 10px;
  margin: 8rem;
  background: rgba(40, 40, 40, 0.3);
}
header .head_pitch h1 {
  margin-bottom: 1rem;
}
header .head_pitch p {
  margin-bottom: 3rem;
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.5rem;
  font-family: 'lato-light', sans-serif;
}
header .head_pitch .head_cta {
  padding: 0px 25px;
  background: linear-gradient(to right, #5a3bdb, #75c6ec);
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  line-height: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 500px) {
  header {
    line-height: 38px;
    font-size: 1rem;
  }
  header .topnav {
    flex-direction: column;
  }
  header .topnav .logo {
    font-size: 1.75rem;
  }
  header .topnav .menu_cta {
    background: none;
    padding: 0;
    color: #75c6ec;
  }
  header .head_pitch {
    margin: 11rem 2rem 5rem;
  }
  header .head_pitch p {
    font-size: 0.9rem;
  }
}
@media (max-width: 800px) {
  header .topnav {
    flex-direction: column;
    width: 100vw;
  }
  header .head_pitch {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
main {
  width: 100vw;
  display: flex;
  flex-direction: column;
}
main .group {
  padding: 10vh 5vw;
  display: flex;
}
main .group:nth-child(2n) {
  background-color: #F7F7FB;
  flex-direction: row-reverse;
}
main .main-page-div {
  width: 50vw;
}
main .main-page-div h3,
main .main-page-div li,
main .main-page-div p {
  padding: 20px;
  display: flex;
}
main .main-page-img {
  width: 40vw;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
main .main-page-img #getapp {
  margin-top: -8rem;
}
main .bottom-content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
main .bottom-content li {
  display: flex;
  padding: 20px;
  width: 30%;
}
main .bottom-content h3 {
  padding: 20px;
}
main .bottom-content .bottom-icon .fas {
  font-size: 1.25rem;
  color: white;
  background: linear-gradient(to bottom, #5a3bdb, #75c6ec);
  padding: 1rem;
  border-radius: 50%;
}
main .bottom-content .bottom-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
main .bottom-content .bottom-text h3,
main .bottom-content .bottom-text h4 {
  text-transform: uppercase;
  font-weight: 900;
}
main .bottom-content .bottom-text h4,
main .bottom-content .bottom-text p {
  padding: 0.5rem 1rem;
}
@media (max-width: 500px) {
  main .group {
    flex-direction: column!important;
  }
  main .group .main-page-div,
  main .group .main-page-img {
    margin: inherit 0;
    width: 90vw;
  }
  main .group .main-page-img #getapp {
    display: none;
  }
  main .group .main-page-img img {
    margin: 0 auto;
  }
  main .bottom-content {
    flex-direction: column;
  }
  main .bottom-content li {
    width: 90%;
  }
}
@media (max-width: 800px) {
  main .group .main-page-img img {
    height: 20rem;
  }
  main .bottom-content {
    flex-direction: column;
  }
  main .bottom-content li {
    width: 90vw;
  }
}
.contact_header {
  background: #383838;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  height: 65vh;
}
.contact_header .no_pitch {
  text-align: center;
  background: none;
}
.contact_header .no_pitch .contact_headline {
  margin-bottom: 50px;
}
.contact_header .no_pitch a button.contact_cta {
  background: transparent;
  border: solid 3px #75c6ec;
}
table {
  margin: 0 auto;
}
@media (max-width: 500px) {
  table {
    margin-left: 5%;
    margin-right: 5%;
  }
}
table .login_input {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0px;
  padding: 10px 0px;
  width: 100%;
  font-size: 1rem;
  color: #7E7E7E;
}
@media (max-width: 500px) {
  table .login_input {
    width: 90%;
  }
}
table h2,
table td {
  padding-bottom: 25px;
}
table .login_input:focus {
  outline: none;
}
table textarea {
  height: 200px;
}
table .form_send {
  cursor: pointer;
  font-size: 20px!important;
  letter-spacing: 1px;
  padding: 10px 20px;
  background: linear-gradient(to right, #5a3bdb, #75c6ec);
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  line-height: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.team_header .head_pitch .contact_headline {
  text-align: center;
  letter-spacing: 1.25px;
}
.company-motto {
  width: 60vw;
  margin: 0 auto;
  padding-bottom: 5rem;
}
.company-motto .catchphrase {
  text-align: center;
  font-weight: 200;
  padding-bottom: 2rem;
}
.company-motto #dedication-statement {
  font-style: italic;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
}
.team-stamp {
  margin: 2vh auto 2vh;
  width: 25vw;
  border: solid 2px #667EE3;
  border-radius: 10%;
  background: rgba(40, 40, 40);
}
@media (max-width: 500px) {
  .team-stamp {
    width: 35vw;
    margin-bottom: 4vh;
  }
}
.team-map {
  margin: 0 auto;
  display: flex;
  padding: 3vw;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (max-width: 800px) {
  .team-map {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .team-map {
    flex-direction: column;
  }
}
.team-map .team-profile {
  padding: 3vw;
  display: flex;
  width: 40vw;
  border-bottom: solid 1px #667EE3;
  border-bottom-width: medium;
  margin-bottom: 5vh;
}
@media (max-width: 800px) {
  .team-map .team-profile {
    width: 80vw;
    padding-bottom: 10vh;
    margin-bottom: 10vh;
  }
}
@media (max-width: 500px) {
  .team-map .team-profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    padding-bottom: 10vh;
    margin-bottom: 10vh;
  }
}
.team-map .team-profile img {
  height: auto;
  width: 15vw;
  border-radius: 50%;
  opacity: 0.85;
  margin-right: 1vw;
}
@media (max-width: 800px) {
  .team-map .team-profile img {
    height: auto;
    width: 25vw;
  }
}
@media (max-width: 500px) {
  .team-map .team-profile img {
    height: auto;
    width: 35vw;
    margin-bottom: 5vh;
  }
}
.team-map .team-profile p {
  text-align: center;
  margin: auto 0;
}
.team-map .team-profile p .profile-name {
  text-transform: uppercase;
  font-style: italic;
}
.gap {
  margin-bottom: 20vh;
}
footer {
  height: 35vh;
  background-color: #121551;
  display: flex;
  justify-content: space-between;
  width: 100vw;
}
footer div {
  width: 50vw;
}
footer .copyright {
  color: white;
  padding: 50px 0 50px 40px;
}
footer .copyright p {
  margin-bottom: 30px;
}
footer .social-media {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .social-media i {
  color: #ABABBD;
  font-size: 1.7rem;
  padding: 15px;
  border: 3px solid;
  border-radius: 50%;
  font-weight: 900;
}
footer .social-media i:hover {
  color: white;
}
@media (max-width: 500px) {
  footer .social-media i {
    font-size: 1rem;
    padding: 10px;
  }
}
