footer {
  height: 35vh;
  background-color: rgb(18, 21, 81);
  display: flex;
  justify-content: space-between;
  width: 100vw;

  div {
    width: 50vw;
  }

  .copyright {
    color: white;
    padding: 50px 0 50px 40px;
    // border: white 2px solid;

    p {
      margin-bottom: 30px;
    }
  }

  .social-media {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    i {
      color: #ABABBD;
      font-size: 1.7rem;
      padding: 15px;
      border: 3px solid;
      border-radius: 50%;
      font-weight: 900;
    }
    i:hover {
      color: white;
    }

  }

  // =====> MOBILE

  @media (max-width: @mobile) {
    .social-media {
      i {
        font-size: 1rem;
        padding: 10px;
      }
    }

  }

  // =====> TABLET

  @media (max-width: @tablet) {

  }

  // =====> DESKTOP

  @media (max-width: @desktop) {

  }
}
