main {
  border: green 1px solid;
  width: 100%;
  display: flex;
  flex-direction: column;

  section {
    padding: 5vh;
    display: flex;
    // flex-wrap: wrap;
  }

  .main-page-div {
    width: 50vw;
    border: green 1px solid;

  }

  .main-page-div h3, p, li {
    padding: 20px;
    display: flex;
    // flex-direction: column;
  }

  div img {
    width: 60%;
  }

  .bottom-content {
    display: flex;
    flex-wrap: wrap;

    span h2 {
      padding: 20px;
    }
    // border: green 1px solid;

    .bottom-icon {
      width: 5vw;
      // border: green 1px solid;

      .fas {
        font-size: 2rem;
        margin: 0 auto;
        color: white;
        background-image: linear-gradient(to bottom, #5a3bdb, #75c6ec);
        padding: 20px;
        border-radius: 50%;
      }
    }
    .bottom-text h3, p{
      width: 22vw;
      // border: green 1px solid;
      padding: 10px 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }

}
