main {
  width: 100vw;
  display: flex;
  flex-direction: column;

  .group {
    padding: 10vh 5vw;
    display: flex;

  }

  .group:nth-child(2n) {
    background-color: #F7F7FB;
    flex-direction: row-reverse;

  }

  .main-page-div {
    width: 50vw;

    h3,
    li,
    p {
      padding: 20px;
      display: flex;
    }

  }

  .main-page-img {
    width: 40vw;

  }

  .bottom-content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

    li {
      display: flex;
      padding: 20px;
      width: 30%;
      // margin-bottom: 3vh;
    }

    h3 {
      padding: 20px;
    }

    .bottom-icon {
      .fas {
        font-size: 2rem;
        color: white;
        background: linear-gradient(to bottom, #5a3bdb, #75c6ec);
        padding: 20px;
        border-radius: 50%;
      }
    }

    .bottom-text {
      // padding: 10px 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      h3,
      h4 {
        text-transform: uppercase;
        font-weight: 900;
      }

      h4,
      p {
        padding: 0.5rem 1rem;
      }
    }
  }


  // =====> MOBILE


  @media (max-width: 500px) {
    .group {
      flex-direction: column!important;

      .main-page-div, .main-page-img {
        margin: inherit 0;
        width: 90vw;
      }
      .main-page-img {
        #getapp {
          display: none;
        }

        img {
          margin: 0 auto;
        }
      }

    }

    .bottom-content {
      flex-direction: column;

      li {
        width: 90%;
      }
    }
  }


  // =====> TABLET



  @media (max-width: 800px) {
    .group{
      .main-page-div {

      }

      .main-page-img {
        img {
          height: 20rem;
        }
      }


    }
    .bottom-content {
      flex-direction: column;

      li {
        width: 90vw;
      }
    }

  }

  // =====> DESKTOP

  @media (max-width: 1000px) {

  }
}
