header {
  background: url("../img/woman-weightlifting.jpg") center center;
  background-size: cover;
  z-index: 1;
  color: white;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  nav{
    display: flex;
    justify-content: space-between;

  }

  div.menu {
    display: flex;
    justify-content: flex-end;

    li {
      margin: 5px;
    }
    a {
      color: white;
    }

  }

  div.nav_logo {
    // margin: 5px;
  }

  div.head_pitch {
    // margin: 5rem;

    h1, p, button {
      // margin: 5px;
    }
  }

  div.head_cta {
    margin: 5px;
  }
}
