header {
  background: url("../img/woman-weightlifting.jpg");
  z-index: 1;
  color: white;
  top: 0vh;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15vh;

  // parallax
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .topnav {
    display: flex;
    justify-content: space-between;
    // transparent navbar
    border: none;
    box-shadow: none;
    // transition: background 0.7s ease-out;
    background: rgba(40,40,40,0.7);
    // transparent!important;
    position: fixed;
    z-index: 1030;
    top: 0;
    left: 0;
    right: 0;

  }

  .logo {
    margin: 1.25rem;
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    margin: 1.25rem;

    .fa-bars {
      // display: none;
      font-size: 1rem;
      margin: 20px 20px 0 0;
    }

    a {
      color: white;
      margin: auto 1rem;
    }

    .menu_cta {
      padding: 10px 20px;
      background: linear-gradient(to right, #5a3bdb, #75c6ec);
      color: #fff;
      border: none;
      border-radius: 20px;
      font-size: 14px;
      line-height: 20px;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    }

  }

  .head_pitch {
    margin: 10rem;

    h1 {
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 3rem;
      font-size: 1.2rem;
      font-weight: 200;
      line-height: 1.5rem;
      font-family: 'lato-light', sans-serif;
    }

    .head_cta {
      padding: 0px 25px;
      background: linear-gradient(to right, #5a3bdb, #75c6ec);
      color: #fff;
      border: none;
      border-radius: 25px;
      font-size: 18px;
      line-height: 50px;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    }
  }

  @media(max-width: 500px) {
    line-height: 25px;
    font-size: 14px;

    .topnav {

      .logo {
        font-size: 1.5rem;
      }

      .menu {
        flex-direction: column;
      }

      .menu_cta {
        background: none;
        padding: 0;
        color: #75c6ec;
      }

    }

    .head_pitch {
      margin: 11rem 2rem 5rem;
      h1 {
        font-size: 1.25rem;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }

}
